stages:
  - build
  - analysis
  - performance

.build-template:
  stage: build
  script:
    - conan profile detect || true
    - conan create . -pr:h profiles/${PROFILE} -pr:b default --build=missing
    - conan upload "project-template/*" -r my-remote --confirm --skip-upload-if-immutable

build:debug:
  extends: .build-template
  variables:
    PROFILE: gcc-debug

build:asan:
  extends: .build-template
  variables:
    PROFILE: gcc-debug-asan

build:tsan:
  extends: .build-template
  variables:
    PROFILE: gcc-debug-tsan

build:coverage:
  extends: .build-template
  variables:
    PROFILE: gcc-debug-coverage

build:release:
  extends: .build-template
  variables:
    PROFILE: gcc-release

iwyu:
  stage: analysis
  script:
    - cmake -S . -B build/iwyu -DCMAKE_BUILD_TYPE=Debug -DENABLE_IWYU=ON -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
    - cmake --build build/iwyu --target iwyu-all -j
  artifacts:
    when: always
    paths:
      - build/iwyu/iwyu.log


variables:
  CCACHE_DIR: "$CI_PROJECT_DIR/.ccache"
  CCACHE_MAXSIZE: "1G"

cache:
  paths:
    - .ccache/

before_script:
  - apt-get update && apt-get install -y ccache
  - ccache -M $CCACHE_MAXSIZE


benchmarks:
  stage: performance
  script:
    - cmake -S . -B build/benchmark -DCMAKE_BUILD_TYPE=Release -DBUILD_BENCHMARKS=ON
    - cmake --build build/benchmark -j
    - ./build/benchmark/example_benchmark --benchmark_format=json > benchmark_results.json
  artifacts:
    paths:
      - benchmark_results.json
    expire_in: 1 week
